<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<div class='container mt-4'>
	<h3>My lists</h3>
	<% if @lists.length < 1 %>
		<p>(You don't have a list created yet!)</p>
	<% else %>
		<div class='d-flex flex-wrap justify-content-start my-3'>
			<% @lists.each do |list| %>
				<div class="card mx-2" style="width: 18rem;">
					<%= cl_image_tag list.photo.key, height: 200, crop: :fill if list.photo.attached? %>
					<div class="card-body">
						<p class="card-text"><%= link_to list.name, list_path(list) %></p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
