<nav class='d-flex justify-content-between p-3 align-itens-center bg-danger text-white'>
  <p class='mb-0'>icon</p>
	<div>
		<%= link_to 'My lists', lists_path, class:'mr-2' %>
		<%= link_to 'New list', new_list_path %>
	</div>
</nav>